@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
.nintoFont {
  font-family: "Nunito", sans-serif;
}
.sora {
  font-family: "Sora", sans-serif !important;
}
.ql-snow {
  /* border-top: none !important; */
  border-color: #bbbbc7 !important;
  /* border-radius: 10px; */
}
.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #bbbbc7;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
.ql-container {
  border: none !important;
  padding: 4px 20px 60px 10px !important;
  /* margin: 20px 0px !important; */
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top: 1px solid #bbbbc7 !important;
}
.ql-editor.ql-blank::before {
  font-style: normal !important;

  color: #bbbbc7 !important;
  font-family: "Open Sans";
}

body {
  color: black !important;
}
.hoverStyle:hover {
  color: #2ca5c3;
}
.blue-btn {
  border: none;
  background-color: #2ca5c3;
  width: 139px;
  box-shadow: 0px 4px 11px 0px rgba(70, 146, 254, 0.15);
  font-weight: 400;
  font-size: 12px;
  color: #ffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: open sans;
  transition: 0.5s;
}
.blue-btn:hover {
  background-color: #336cb0;
}
@media screen and (max-width: 768px) {
  .blue-btn {
    width: 130px;
  }
  /* CSS rules for screens with a maximum width of 768px */
}
@media screen and (max-width: 480px) {
  .blue-btn {
    width: 110px;
  }
  /* CSS rules for screens with a maximum width of 768px */
}

.chakra-alert__title {
  font-weight: 600 !important;
}
